{% extends "base.html" %}

{% block content %}
            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>Les membres du bureau :</h2>
                    <p>A la fondation du club en juin 2017, 7 personnes étaient présentes. Ce sont nos membres fondateurs, et membres du Bureau de l'association.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">
                        <li>
                            <div class="img-holder">
                                <img src="{{ url_for('static', filename='images/franck_icon.png') }}" width="110" height="110" alt="franck icon">
                            </div>
                            <div class="text-holder">
                                <h3>Le Président</h3>
                                <p>Franck. Il a une longue carrière d'arbitrage en escalade. C'est lui le cerveau de l'équipe.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/colette_icon.png') }}" width="110"  height="110" alt="colette icon">
                            </div>
                            <div class="text-holder">
                                <h3>La Vice-Présidente</h3>
                                <p>Colette. Elle a également une longue carrière dans le milieu. Fournisseuse officielle de quiche.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/romain_icon.png') }}" width="110"  height="110" alt="romain icon">
                            </div>
                            <div class="text-holder">
                                <h3>Le Secrétaire</h3>
                                <p>Romain. Ancien spéléologue, il pouponne la nouvelle génération de recrues du club.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/corinne_icon.png') }}" width="110"  height="110" alt="corinne icon">
                            </div>
                            <div class="text-holder">
                                <h3>La Membre du Bureau</h3>
                                <p>Corinne. Notre mère spirituelle à tous. Fournisseuse officielle de gâteau au chocolat.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/yanis_icon.png') }}" width="110"  height="110" alt="yanis icon">
                            </div>
                            <div class="text-holder">
                                <h3>Le Trésorier.</h3>
                                <p>Yanis. Fait tellement d'activités professionnelles, personnelles et altruistes que c'est un miracle s'il a du temps pour dormir.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/sophie_icon.png') }}" width="110"  height="110" alt="sophie icon">
                            </div>
                            <div class="text-holder">
                                <h3>La Membre du bureau</h3>
                                <p>Sophie. Découvre de nouvelles prises et grimpe tellement bien qu'elle s'entraine à entrainer.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/matthias_icon.png') }}" width="110"  height="110" alt="matthias icon">
                            </div>
                            <div class="text-holder">
                                <h3>Le Vice-Trésorier</h3>
                                <p>Matthias. Essaie d'apprendre à grimper, et s'occupe du site internet en attendant.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}