{% extends "base.html" %}

{% block content %}
            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>Horaires et prix de l'adhésion</h2>
                    <p>Attention : Face au grand nombre de préinscriptions et une demande pour des cours d’escalade pour les enfants de 6-8 ans, nous avons dû modifier les horaires initialement prévus pour les enfants.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">

                        <li>
                            <div class="img-holder">
                                    <img class="pull-left" src="{{ url_for('static', filename='images/clock_icon.png') }}" width="110"  height="110" alt="clock icon">
                            </div>
                            <div class="text-holder">
                                <h3>Les horaires :</h3>
                                <p>Pour les enfants les entraînements ont lieu :</br>
                                    </br>
                                    Le MARDI pour le groupe ADOS :</br>
                                    à partir de 13 ans : 17h30 à 19h30</br>
                                    </br>
                                    Le MERCREDI pour les groupes :</br>
                                    6 - 7 ans : 15h à 16h15</br>
                                    8 - 10 ans : de 16h30 à 18h</br>
                                    11 - 12 ans : de 18h15 à 19h45</br>
                                </p>
                                <p>Pour les adultes autonomes : entraînement libre dans ces créneaux:</br>
                                    Le LUNDI de 20h à 22h.</br>
                                    Le MERCREDI de 20h à 22h.</br>
                                    Le JEUDI de 18h à 20h.</br>
                                    En fonction de la demande, nous étudierons la possibilité d'un créneau supplémentaire le samedi matin.</br>
                                </p>
                                <p>Pour les adultes débutants : de début septembre aux vacances de la Toussaint, un cours est organisé le MERCREDI de 20h à 22h.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                    <img class="pull-left" src="{{ url_for('static', filename='images/money_icon.png') }}" width="110"  height="110" alt="money icon">
                            </div>
                            <div class="text-holder">
                                <h3>L'adhésion</h3>
                                <p>Pour l'année 2019-2020, l'adhésion est fixée à 190€ pour les enfants, 150€ pour les adultes.</br>
                                    Une déduction du prix de la licence FFME sera appliquée pour qui l'a déjà dans un autre club.</br>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="mascotte">
                    <div class="img-slide scroll-trigger"><img src="{{ url_for('static', filename='images/cameleon_st_pierre_mod.jpg') }}" alt="mascotte St Pierre Escalade" title="Léon le caméléon !"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}