{% extends "base.html" %}

{% block content %}
            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>Horaires et prix de l'adhésion</h2>
                    <p>Attention : Face au grand nombre de préinscriptions et une demande pour des cours d’escalade pour les enfants de 6-8 ans, nous avons dû modifier les horaires initialement prévus pour les enfants.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">

                        <li>
                            <div class="img-holder">
                                    <img class="pull-left" src="{{ url_for('static', filename='images/clock_icon.png') }}" width="110"  height="110" alt="clock icon">
                            </div>
                            <div class="text-holder">
                                <h3>Les horaires :</h3>
                                <p>Pour les enfants les entraînements ont lieu :</br>
                                </br>
                                    Groupe Compétition (enfants nés entre 2003 et 2011):</br>
                                    Le LUNDI de 18h30 à 20h et le MERCREDI de 18h30 à 20h.</br>
                                    </br>
                                    Pour les enfants nés en 2004 et 2005: le MARDI de 18h30 à 20h.</br>
                                    </br>
                                    Pour les enfants nés en 2006 et 2007: le MERCREDI de 16h45 à 18h15.</br>
                                    </br>
                                    Pour les enfants nés en 2008 et 2009: le LUNDI de 17h à 18h30.</br>
                                    </br>
                                    Pour les enfants nés en 2010 et 2011: le MERCREDI de 15h à 16h30.</br>
                                    </br>
                                    Pour les enfants nés entre 2012 et 2014: le MARDI de 17h à 18h15.</br>
                                    </br>

                                </p>
                                <p>Pour les adultes autonomes et enfants nés avant 2004 : entraînement libre dans ces créneaux:</br>
                                    Le LUNDI de 20h à 22h.</br>
                                    Le MERCREDI de 20h à 22h.</br>
                                    Le VENDREDI de 18h30 à 20h30.</br>
                                    En fonction de la demande, nous étudierons la possibilité d'un créneau supplémentaire le samedi matin, ou modifierons les précédents.</br>
                                </p>
                                <p>Pour les adultes débutants : de début septembre aux vacances de la Toussaint, un cours encadré par un professionnel est organisé le MERCREDI de 20h à 22h.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                    <img class="pull-left" src="{{ url_for('static', filename='images/money_icon.png') }}" width="110"  height="110" alt="money icon">
                            </div>
                            <div class="text-holder">
                                <h3>L'adhésion</h3>
                                <p>Pour l'année 2020-2021, l'adhésion est fixée à 200€ pour les enfants (230€ pour le groupe compétition), 150€ pour les adultes.</br>
                                    Une déduction du prix de la licence FFME sera appliquée pour qui l'a déjà dans un autre club.</br>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="mascotte">
                    <div class="img-slide scroll-trigger"><img src="{{ url_for('static', filename='images/cameleon_st_pierre_mod.jpg') }}" alt="mascotte St Pierre Escalade" title="Léon le caméléon !"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}