{% extends "base.html" %}

{% block content %}

            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>A propos de l'association et du mur</h2>
                    <p>Nous sommes une association de Loi 1901 fondée en juin 2017. Le mur a été financé par la mairie de St Pierre de Chandieu et le Comité Départemental de la Fédération Française de la Montagne et de l'Escalade. Il est construit depuis avril 2019 et sera inauguré en septembre 2019. Il sera utilisé par les scolaires (collège..), et par nous ! L'association sera ouverte aux adhésions pour la rentrée scolaire 2019.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="area">
        <div class="container">
            <div  class="actus">Actualités du club</a>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/climbing_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>C'est la rentrée! Forum des associations du 5 septembre</h3>
                                <p>Nous serons présents au forum des associations de St Pierre de Chandieu. Si vous êtes intéressés pour vous inscrire, vous pouvez gagner du temps en téléchargeant et en remplissant le <a class="link" href="{{ url_for('static', filename='images/fiche_inscription_adultes.pdf') }}">formulaire d'inscription</a> pour les adultes, et le <a class="link" href="{{ url_for('static', filename='images/fiche_inscription_enfants.pdf') }}">formulaire d'inscription</a> pour les enfants, ainsi que le modèle de <a class="link" href="{{ url_for('static', filename='images/certificat_medical_type.pdf') }}">certificat médical</a>. Attention, le nombre de places pour les cours enfants est limité.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/information_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>C'est la rentrée! Et Covid-19</h3>
                                <p>Malheureusement, les conditions sanitaires récentes que nous connaissons tous ne nous ont pas permis de finir l'année précédente comme nous le souhaitions. Nous repartons donc pour une nouvelle saision plus motivés que jamais, mais nous devrons adapter quelques mesures afin de respecter au mieux les gestes barrières et les recommendations ou obligations de la Mairie, de la Fédération, et du Gouvernement. Soyez assurés que notre équipe du Bureau de l'association fait et fera tout son possible pour assurer des cours dans les meilleurs conditions possibles.</p>
                            </div>
                        </li>

<!--                    
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/competition_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Championnat départemental du 18 et 19 janvier 20</h3>
                                <p> Le week-end du 18-19 Janvier, nous organisons en collaboration avec la FFME, le championnat départemental de bloc jeunes et vétérans du Rhône 2020 sur notre mur au gymnase Alain Gilles à Saint pierre de Chandieu.</br>
                                    </br>
                                    Réservez dés aujourd'hui votre week-end !</br>
                                    L'entrée pour les spectateurs sera gratuite et une buvette vous attendra. Venez nombreux !</br>
                                    </br>
                                    Ce championnat concerne les catégories suivantes : Poussin, Benjamin, Minime, Cadet, Junior, Vétéran.
                                    </br>
                                    Le programme du week-end est le suivant :</br>
                                    </br>
                                    Samedi : Poussin Benjamin Vétéran Vétéran 2:</br>
                                    Fin de l'accueil poussin 9h Début de la Compétition 9h15 Fin à 11h45 Podium 12h15</br>
                                    Fin de l'accueil Benjamin 12h Début de la compétition 12h15 Fin à 14h45 Podium 15h 15</br>
                                    Fin de l'accueil Vétéran et Veteran 2 à 15h Début de la compétition 15h15 Finales Veteran 18h45</br>
                                    </br>
                                    Dimanche : Minime Cadet Junior :</br>
                                    Fin de l'accueil Minime 9h Début de la Compétition 9h15 Fin à 12h15 Podium 12h45</br>
                                    Fin de l'accueil Cadet 12h30 Début de la compétition 12h45 Fin à 15h45 Podium 16h 15</br>
                                    Fin de l'accueil Junior à 16h Début de la compétition 16h15 Fin à 19h15 Podium à 19h45</br>
                                    </br>
                                    Pour ceux qui veulent s'inscrire et pour plus d'informations : <a class="link" href="https://www.ffme.fr/competition/fiche/6134.html">site de la FFME</a>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/climbing_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Début des cours !</h3>
                                <p>Hourra ! C'est avec une immense joie que nous lançons officiellement la première année ouverte aux adhésions du club ! Vous avez des questions sur les cours enfants, adultes débutants et autonomes ? N'hésitez pas à vérifier la page <a class="link" href="/horaires">des horaires</a> pour ne rien rater ! Une séance d'essai gratuite est possible sur les dates du mardi 10 OU du mercredi 11 septembre. Ensuite, pour des raisons de sécurité, il sera obligatoire de payer la licence.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/information_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Forum des associations du 7 septembre</h3>
                                <p>Nous serons présents au forum des associations de St Pierre de Chandieu. Si vous êtes intéressés pour vous inscrire, vous pouvez gagner du temps en téléchargeant et en remplissant le <a class="link" href="{{ url_for('static', filename='images/fiche_inscription.pdf') }}">formulaire d'inscription</a>, et le modèle de <a class="link" href="{{ url_for('static', filename='images/certificat_medical_type.pdf') }}">certificat médical</a>. Attention, le nombre de places pour les cours enfants est limité.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/information_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Modification des horaires enfants + ajout groupe 6-8</h3>
                                <p>Face au grand nombre de préinscriptions et une demande pour des cours d’escalade pour les enfants de 6-8 ans, nous avons dû modifier les horaires initialement prévus. Retrouvez tous les nouveaux horaires sur <a href="/horaires">la page correspondante !</a> </p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/climbing_icon.png') }}" width="110"  height="110" alt="climbing icon">
                            </div>
                            <div class="text-holder">
                                <h3>Journée portes-ouvertes</h3>
                                <p>Afin de faire connaître le bloc et l'association aux petits et grands de notre village, nous organisons le 22 juin une après-midi portes-ouvertes, de 14 à 17h. A partir de 8 ans. Baskets ou chaussons d'escalade obligatoires. Possibilité de se préinscrire pour la rentrée (50€ par chèque). Retrouvez <a class="link" href="{{ url_for('static', filename='images/affiche.jpg') }}">ici</a> l'affiche avec les infos, et <a class="link" href="{{ url_for('static', filename='images/fiche_preinscription.pdf') }}">là</a> la feuille de préinscription. Venez nombreux !</a></p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/competition_icon.png') }}" width="110"  height="110" alt="competition icon">
                            </div>
                            <div class="text-holder">
                                <h3>Contest d'inauguration</h3>
                                <p>Le jeudi 6 juin, de 18h à 22h, nous organisons un contest promotionnel pour faire connaître notre mur et pour lancer l'association. C'est une compétition amicale, ouverte aux pratiquants autonomes et équipés. Inscription 10€ licenciés, 16€ non-licenciés. Plus d'infos sur <a class="link" href="/facebook">la page facebook.</a></p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/information_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Signature de la convention d'utilisation avec la mairie.</h3>
                                <p>Le 30 avril, le Président de St Pierre Escalade, accompagné de la Vice-Présidente et du Vice-Trésorier a signé avec le Maire de St Pierre de Chandieu la convention d'utilisation du mur d'escalade. Nous sommes actuellement en train de réfléchir aux créneaux horaires de l'année scolaire prochaine, l'inauguration officielle avec Mr le Maire se fera en septembre.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img src="{{ url_for('static', filename='images/construction_icon.png') }}" width="110" height="110" alt="construction icon">
                            </div>
                            <div class="text-holder">
                                <h3>Construction de notre beau mur !</h3>
                                <p>Pendant les vacances de Pâques 2019, le mur d'escalade tant attendu a été entièrement construit, et les tapis installés. Plus qu'à patienter pour la pose de voies et le contest promotionnel du 6 juin !</p>
                            </div>
                        </li>
-->
                    </ul>
                </div>
                <div class="mascotte">
                    <div class="img-slide scroll-trigger"><img src="{{ url_for('static', filename='images/cameleon_st_pierre_mod.jpg') }}" alt="mascotte St Pierre Escalade" title="Léon le caméléon !"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}