{% extends "base.html" %}

{% block content %}
<!---<section class="main">
        <div class="container">
            <div id="cta">
                <a href="javascript:" class="btn btn-primary rounded">Let's climb !</a>
            </div>--->
            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>A propos de l'association et du mur</h2>
                    <p>Nous sommes une association de Loi 1901 fondée en juin 2017. Le mur a été financé par la mairie de St Pierre de Chandieu, le Comité Départemental de la Fédération Française de la Montagne et de l'Escalade. Il est construit depuis avril 2019 et sera inauguré en juin 2019. Il sera utilisé par les scolaires (école primaire et collège), par la MJC... et par nous ! L'association sera ouverte aux adhésions pour la rentrée scolaire 2019.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">
                        <li>
                            <div class="img-holder">
                                <img src="images/construction_icon.png" width="110" height="110" alt="construction icon">
                            </div>
                            <div class="text-holder">
                                <h3>Construction de notre beau mur !</h3>
                                <p>Pendant les vacances de Pâques 2019, le mur d'escalade tant attendu a été entièrement construit, et les tapis installés. Plus qu'à patienter pour la pose de voies et l'inauguration officielle prévue pour le 15/6/19 !</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="images/information_icon.png" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Signature de la convention d'utilisation avec la mairie.</h3>
                                <p>Le 30 avril, le Président de St Pierre Escalade, accompagné de la Vice-Présidente et du Vice-Trésorier a signé avec le Maire de St Pierre de Chandieu la convention d'utilisation du mur d'escalade. Nous sommes actuellement en train de réfléchir aux créneaux horaires de l'année scolaire prochaine, et nous préparons la journée d'inauguration.</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="mascotte">
                    <div class="img-slide scroll-trigger"><img src="images/cameleon_st_pierre_mod.jpg" alt="mascotte St Pierre Escalade" title="Gecky le gecko"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}