{% extends "base.html" %}

{% block content %}

            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>A propos de l'association et du mur</h2>
                    <p>Nous sommes une association de Loi 1901 fondée en juin 2017. Le mur a été financé par la mairie de St Pierre de Chandieu et le Comité Départemental de la Fédération Française de la Montagne et de l'Escalade. Il est construit depuis avril 2019 et sera inauguré en septembre 2019. Il sera utilisé par les scolaires (collège..), et par nous ! L'association sera ouverte aux adhésions pour la rentrée scolaire 2019.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="area">
        <div class="container">
            <div  class="actus">Actualités du club</a>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/climbing_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Journée portes-ouvertes</h3>
                                <p>Afin de faire connaître le bloc et l'association aux petits et grands de notre village, nous organisons le 29 juin une journée porte-ouverte. Possibilité de se préinscrire pour la rentrée. Venez nombreux !</a></p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/competition_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Contest d'inauguration</h3>
                                <p>Le jeudi 6 juin, de 18h à 22h, nous organisons un contest promotionnel pour faire connaître notre mur et pour lancer l'association. C'est une compétition amicale, ouverte aux pratiquants autonomes et équipés. Inscription 10€ licenciés, 16€ non-licenciés. Plus d'infos sur <a class="link" href="/facebook">la page facebook.</a></p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="{{ url_for('static', filename='images/information_icon.png') }}" width="110"  height="110" alt="information icon">
                            </div>
                            <div class="text-holder">
                                <h3>Signature de la convention d'utilisation avec la mairie.</h3>
                                <p>Le 30 avril, le Président de St Pierre Escalade, accompagné de la Vice-Présidente et du Vice-Trésorier a signé avec le Maire de St Pierre de Chandieu la convention d'utilisation du mur d'escalade. Nous sommes actuellement en train de réfléchir aux créneaux horaires de l'année scolaire prochaine, l'inauguration officielle avec Mr le Maire se fera en septembre.</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-holder">
                                <img src="{{ url_for('static', filename='images/construction_icon.png') }}" width="110" height="110" alt="construction icon">
                            </div>
                            <div class="text-holder">
                                <h3>Construction de notre beau mur !</h3>
                                <p>Pendant les vacances de Pâques 2019, le mur d'escalade tant attendu a été entièrement construit, et les tapis installés. Plus qu'à patienter pour la pose de voies et le contest promotionnel du 6 juin !</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="mascotte">
                    <div class="img-slide scroll-trigger"><img src="{{ url_for('static', filename='images/cameleon_st_pierre_mod.jpg') }}" alt="mascotte St Pierre Escalade" title="Léon le caméléon !"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}