{% extends "base.html" %}

{% block content %}
            <div class="row">

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Le contest promotionnel du 6 juin :</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/contest/contest1resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest2resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest3resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest4resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest5resized.png') }}" alt>
                        </figure>
                    </div>
                </div>

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Le chantier de construction du bloc !</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur3resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur6resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur8resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur14resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur16resized.png') }}" alt>
                        </figure>
                    </div>
                </div>

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Nos sorties précédentes...</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/vertrieu5resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/yzeron1resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/vertrieu3resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_bloc/mroc1resized.png') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_bloc/mroc2resized.png') }}" alt>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}