{% extends "base.html" %}

{% block content %}
            <div class="row">

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Le contest promotionnel du 6 juin :</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/contest/contest1.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest2.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest3.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest4.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/contest/contest5.jpg') }}" alt>
                        </figure>
                    </div>
                </div>

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Le chantier de construction du bloc !</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur3-1.JPG') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur6-1.JPG') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur8-1.JPG') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur14.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/chantier_mur/travauxmur16.jpg') }}" alt>
                        </figure>
                    </div>
                </div>

                <div class="text-box col-md-offset-1 col-md-10">
                    <p>Nos sorties précédentes...</p>
                    <div id="slider">
                        <figure>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/vertrieu5.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/yzeron1.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_voies/vertrieu3.jpg') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_bloc/mroc1.JPG') }}" alt>
                            <img src="{{ url_for('static', filename='images/media/sorties_bloc/mroc2.JPG') }}" alt>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}